.display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 91vh;
    background-color: rgb(255, 255, 255);
}

.sidebox{
    z-index: 1;
    flex: 20%;
    display: block;
    left: 0;
    
    background-size: cover;
    background: linear-gradient(189deg, rgb(7 112 117) 14%, rgb(8 103 94) 61%, rgb(8 90 45 / 75%) 85%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#46579c",endColorstr="#0d8c99",GradientType=1);
}
.icon{
    color: rgb(236, 236, 236);
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 22.5px;
}
.sidelinksbox ul li{
    justify-content: center;
    padding: 10px;
    list-style: none;
}
.sidelinksbox ul a{
    font-size:1.1rem;
    border-radius: 2px;
    text-decoration: none;
    color: rgb(236, 236, 236);
}

.maindisplay{
    flex: 80%;
    background: linear-gradient(189deg, rgb(2 80 88) 14%, rgb(31 27 82) 61%, rgb(8 140 128) 85%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#46579c",endColorstr="#0d8c99",GradientType=1);
    justify-content: space-between;
    
}

.sidelinks{
    display: flex;
    justify-content: start;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(8 59 62 / 66%);
    border-radius: 20px;
    margin-top: 10px;
}
.sidelinks:hover{
   
    
   background-color: rgb(68, 10, 10);
}

.title{
    margin-left: 12.5px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 680px) {
    .sidebox{
        position: sticky;
        height: auto;

        
    }

}



.dashboard{
    text-align: center;
    padding:10px;
    margin:8px 30px;
    border-radius: 8px;
    background-color: rgb(15, 226, 68);
}

@media screen and (max-width: 480px) {
    
}
