.heading{
    background-color: rgb(55, 141, 112);
        justify-content: center;
        margin: 10px 30px;
        border-radius: 8px; 
        display: flex;
        padding: 0.25rem 0.5rem ;
        box-shadow: 0px 0px 8px 1px black;
        border: 2px solid rgb(255, 255, 255);
        color: white;
        font-family: 'Lato', sans-serif;
}

.greet{
    background-color:rgb(36, 36, 51);
    color: white;
    display: flex;
    margin: 40px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.2rem;
    vertical-align: middle;
}

.greetdisplay{
    display: flex;
    justify-content: center;
}
.myklass{
    margin: 0px 4px;
    font-size: 1.2rem;
    font-family: 'Lobster', cursive;
    display: inline;
    
}

.images{
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.thumbnail{

    background-color:#faf0e6;
    border: 2px solid #a4a4a4;
    box-shadow: 0px 0px 2px 1px;
    text-align: center;
    color: #666;
    margin: 20px;
    border-radius: 5px;
    background-attachment: fixed;
    background-position: center;
    
}
.thumbimage1{
    /* border-radius: 5px;
    width: 250px;
    background-attachment: fixed;
    background-position: center; */
    
}
.thumbimage{
    display: inline-block;
    width: 320px;
    margin: 24px;
}

.background_image{
    background-image: url("https://ik.imagekit.io/783peqtlypv/thumbail/photo_2021-01-21_20-14-06_KXXMAFTyS.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size:cover;
    opacity: 0.8;
}



